main{
    padding: 1rem;
    padding-left: 15rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

h1{
    margin: 0;
    font-size: 5rem;
}

.code-block{
    color: var(--codeColor);
}

.strong{
    font-weight: 700;
}