main{
    padding: 1rem;
    padding-left: 15rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

h1{
    margin: 0;
    font-size: 5rem;
}

.code-block{
    color: var(--codeColor);
    font-size: 1.05rem;
}

.strong{
    font-weight: 700;
}

.gradiant-text{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgb(255, 187, 0) 0%, rgb(229, 255, 0) 100%);
    -webkit-background-clip: text;
    color: transparent;
}