.tecnologias-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    text-align: center;
    animation: tecnologias 3s infinite ease-in-out;
}

@keyframes tecnologias{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(1rem);
    }
    100%{
        transform: translateY(0);
    }
}


.tecnologia{
    list-style: none;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    gap: 1rem;
    background-color: rgba(255, 255, 255, .3);
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 10px;
    transition: all .3s ease-in-out;
    cursor: default;
}
.tecnologia:hover{
    background-color: rgba(255, 255, 255, .4);
    border: 2px solid rgba(255, 255, 255, .8);
}

.tecnologia img{
    height: 3rem;
    margin-right: 1rem;
}

.tecnologia span{
    color: var(--white);
    font-size: 1.4rem;
}
