a {
    text-decoration: none;
    color: inherit;
}

.padding-left {
    padding-left: 15rem;
}
.padding-right {
    padding-right: 15rem;
}

.code-padding {
    padding-left: 3rem;
}
.code-padding-2 {
    padding-left: 6rem;
}
.code-padding-right {
    padding-right: 3rem;
}

h1{
    margin: 0;
    font-size: 5rem;
}
h2{
    margin: 0;
    font-size: 3rem;
}
h3{
    margin: 0;
    font-size: 1.5rem;
}

.github-link{
    cursor: pointer;
    transition: .5s all ease;
    color: var(--white);
    font-size: 1.1rem;
    text-decoration: underline;
}

.github-link:hover{
    animation: link-hover 1.5s infinite;
    text-decoration: none;
}

@keyframes link-hover{
    0%{
        color: var(--white);
        font-size: 1.1rem;
    }
    50%{
        color: var(--blue);
        font-size: calc(1.1rem * 1.05);
    }
    100%{
        color: var(--white);
        font-size: 1.1rem;
    }
}