:root{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark light;

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --white: #d2d2d2;
  --black: #2c2c2c;
  --codeColor: #686868;
}

body{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  background-color: var(--black);
}